input {
    border-radius: 8px;
}

.formulier{
    background-color: #2a363b;
    margin-left:33%;
    margin-right:33%;
    margin-top:20%;
}
.submit{
    background-color: #ebca01;
    border-color:#ebca01;
    padding:2%;
}

.input{
    background-color: #3e5057;
    border-color:#3e5057;
    color:black;
    padding:2%;
}
.formElement{
    width:96%;
}
.row{
    padding:10px;
}
#geelLogo{
    width:96%;
    height:96%;
    margin:2%;
}







::-webkit-input-placeholder { /* Chrome */
    color: Black;
}
:-ms-input-placeholder { /* IE 10+ */
    color: Black;
}
::-moz-placeholder { /* Firefox 19+ */
    color: Black;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: Black;
    opacity: 1;
}